<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejercicio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/general.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='icons/icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/navigation.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/ejercicio.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/pruebas.css') }}">
</head>

<body>
  <nav class="top-navbar">
    <div class="nav-left">
      <a href="clases.html" class="logo-link">
        <div class="app-logo"></div>
        <h1 class="app-name">Nombre</h1>
      </a>
    </div>
    <div class="nav-right">
      <div class="user-circle">
        <i class="icon-user"></i>
        <div class="dropdown-menu">
          <a href="index.html" class="dropdown-item">Cerrar sesión</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="main-container">
    <aside class="sidebar">
      <nav class="side-nav">
        <ul>
          <i class="divisor"></i>
          <li class="nav-item home">
            <a href="clases.html">
              <i class="icon-home"></i>
              <span>Inicio</span>
            </a>
          </li>
          <i class="divisor"></i>
          <li class="nav-item class1">
            <div class="class-icon">
              <i class="empty-square"></i>
            </div>
            <a href="lista-ejercicios-profesor.html">Clase 1</a>
          </li>
          <li class="nav-item class2">
            <div class="class-icon">
              <i class="empty-square"></i>
            </div>
            <a href="lista-ejercicios.html">Clase 2</a>
          </li>
          <li class="nav-item class3">
            <div class="class-icon">
              <i class="empty-square"></i>
            </div>
            <span>Clase 3</span>
          </li>
        </ul>
      </nav>
    </aside>

    <main class="main-content">
      <div class="exercise-header">
        <i class="icon-circle-empty"></i>
        <h2>Crear Ejercicio</h2>
      </div>

      <form class="edit-form" id="form" method="post" action="{{ url_for('ejercicios_bp.crear', id_aula=id_aula) }}">
        <div class="input">
          <div class="input-label">
            <i class="icon-circle-empty"></i>
            <label>Nombre del ejercicio</label>
          </div>
          <input name="nombre" type="text" class="input-field" placeholder="Nombre del ejercicio" id="nombre">
        </div>

        <div class="input">
          <div class="input-label">
            <i class="icon-circle-empty"></i>
            <label>Descripción</label>
          </div>
          <textarea name="descripcion" class="textbox-field" placeholder="Descripción del ejercicio" id="descripcion"></textarea>
        </div>

        <div class="input">
          <div class="input-label">
            <i class="icon-circle-empty"></i>
            <label>Fecha de entrega</label>
          </div>
          <input name="fecha" type="datetime-local" class="date-input" id="fecha-entrega">
        </div>

        <div class="input">
          <div class="input-label">
            <i class="icon-circle-empty"></i>
            <label>Código Inicial</label>
          </div>
          <div class="code-container">
            <div class="code-header">
              <select class="language-select" id="lenguaje">
                <option value="python">Python</option>
                <option value="cpp">C++</option>
              </select>
            </div>
            <textarea name="codigo" class="code-editor" placeholder="Escribe tu código aquí..." id="codigo-inicial"></textarea>
          </div>
        </div>

        <div class="input" id="lista-pruebas">
          <div class="input-label">
            <i class="icon-circle-empty"></i>
            <label>Pruebas</label>
            <div class="circle-plus" id="boton-crear-prueba" onmousedown="crearElementoPrueba()">
              <i class="icon-plus"></i>
            </div>
          </div>

          <div class="test-section pruebas">
          </div>

          <div class="button-group">
            <a>
              <button type="submit" class="button-secondary" id="boton-crear-ejercicio">Guardar</button>
            </a>
          </div>
        </div>
      </form>
    </main>
  </div>
  <script src="{{ url_for('static', filename='js/features/ejercicios/ejercicio.crear.js') }}" type="module"></script>
</body>

</html>