<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejercicio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/general.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='icons/icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/navigation.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/ejercicio.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/pruebas.css') }}">
</head>

<body>
  {% include 'layout/navbar.html' %}

  <div class="container-fluid m-0 p-0">
    <div class="row m-0 p-0">
      {% include 'layout/sidebar.html' %}

      <main class="col-12 col-md-10">
        <div class="row">
          <div class="col-12">
            <div class="exercise-header d-flex align-items-center gap-2 mb-4">
              <i class="icon-circle-empty"></i>
              <h2 class="mb-0">Crear Ejercicio</h2>
            </div>
            <form class="edit-form" id="form" method="post" action="{{ url_for('ejercicios_bp.crear', id_aula=id_aula) }}">
              <div class="input mb-3">
                <div class="input-label">
                  <i class="icon-circle-empty"></i>
                  <label>Nombre del ejercicio</label>
                </div>
                <input name="nombre" type="text" class="input-field" placeholder="Nombre del ejercicio" id="nombre">
              </div>

              <div class="input mb-3">
                <div class="input-label">
                  <i class="icon-circle-empty"></i>
                  <label>Descripción</label>
                </div>
                <textarea name="descripcion" class="textbox-field" placeholder="Descripción del ejercicio" id="descripcion"></textarea>
              </div>

              <div class="input mb-3">
                <div class="input-label">
                  <i class="icon-circle-empty"></i>
                  <label>Fecha de entrega</label>
                </div>
                <input name="fecha" type="datetime-local" class="date-input" id="fecha-entrega">
              </div>

              <div class="input mb-3" id="lista-pruebas">
                <div class="input-label d-flex align-items-center gap-2">
                  <i class="icon-circle-empty"></i>
                  <label>Pruebas</label>
                  <div class="circle-plus" id="boton-crear-prueba" onmousedown="crearElementoPrueba()">
                    <i class="icon-plus"></i>
                  </div>
                </div>
                <div class="test-section pruebas"></div>
                <div class="button-group mt-3">
                  <button type="submit" class="button-secondary" id="boton-crear-ejercicio">Guardar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/features/ejercicios/ejercicio.crear.js') }}" type="module"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>