<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejercicio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/general.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='icons/icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/navigation.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/ejercicio.css') }}">
</head>

<body>
  {% include 'layout/navbar.html' %}

  <div class="container-fluid m-0 p-0">
    <div class="row m-0 p-0">
      {% include 'layout/sidebar.html' %}

      <main class="col-12 col-md-10">
        <div class="exercise-header d-flex align-items-center gap-2 mb-4">
          <i class="icon-circle-empty"></i>
          <span class="ejercicio-titulo">{{ ejercicio.nombre }}</span>
        </div>

        <div class="exercise-container row">
          <div class="exercise-content col-12 col-lg-8 mb-3">
            <p class="date-info">
              {{ ejercicio.fechaEntrega }}
            </p>
            <p class="descripcion-ejercicio">
              {{ ejercicio.descripcion }}
            </p>
          </div>
          <div class="exercise-info col-12 col-lg-4 mb-3">
            <table class="statistics table table-borderless">
              <tbody>
                <tr class="statistic">
                  <td class="statistic-label">
                    <i class="icon-circle-empty"></i>
                    <span>Nota</span>
                  </td>
                  <td class="score">
                    {% if entrega.notaObtenida %}
                    {{ entrega.notaObtenida }}/100
                    {% else %}
                    0/100
                    {% endif %}
                  </td>
                </tr>
                <tr class="statistic">
                  <td class="statistic-label">
                    <i class="icon-circle-empty"></i>
                    <span>Resuelto</span>
                  </td>
                  <td>
                    <div class="checkmark">
                      {% if entrega.resuelto %}
                      <i class="icon-check"></i>
                      {% else %}
                      <i class="icon-cancel"></i>
                      {% endif %}
                    </div>
                  </td>
                </tr>
                <tr class="statistic">
                  <td class="statistic-label">
                    <i class="icon-circle-empty"></i>
                    <span>A tiempo</span>
                  </td>
                  <td>
                    <div class="clock">
                      <i class="icon-clock"></i>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <a href="{{ url_for('codigo_bp.codigo', id_aula=id_aula, id_ejercicio=id_ejercicio, id_usuario=entrega.idUsuario) }}">
              <button type="button" class="button w-100">Ver código</button>
            </a>
          </div>
        </div>
      </main>
    </div>
  </div>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>