<aside class="sidebar">
  <nav class="side-nav">
    <ul>
      <i class="divisor"></i>
      <li class="nav-item home">
        <a href="clases.html">
          <i class="icon-home"></i>
          <span>Inicio</span>
        </a>
      </li>
      <i class="divisor"></i>
      {% for aula in aulas %}
        <li class="nav-item">
          <div class="class-icon">
            <i class="empty-square"></i>
          </div>
          <a href="{{ url_for("aulas_bp.aulas", id_aula=aula.idAula)}}">{{ aula.nombre }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</aside>
